.cards{
   display:flex;
   flex-direction: column;
   width :50%;
   padding-left: 10px;
   flex-wrap: wrap;
   align-items:stretch;
   margin: 10px;
   
}
.container{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin:auto;
   background-color: rgb(214, 181, 246);
   
}

 img{
   width:98%;
   height:40%;
   
} 